<section class="error-page text-center py-16">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="w-full lg:w-9/12 xxl:w-8/12">
                <div class="error-page__thumb wow fadeInDown" data-wow-duration="0.8s">
                    <img src="assets/images/error_page.png" alt="images">
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="w-full md:w-8/12 xxl:w-6/12">
                <div class="section__content mt-5">
                    <h2 class="text-4xl font-semibold wow fadeInUp" data-wow-duration="0.8s">Oops! Page Not Found</h2>
                    <p class="mt-4 wow fadeInDown" data-wow-duration="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a aria-current="page" [routerLink]="['/home']" routerLinkActive="iconActive" class="btn_theme btn_theme_active mt-10 inline-block wow fadeInUp" data-wow-duration="0.8s">Back To Home<i class="bi bi-arrow-up-right ml-2"></i><span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
