<section class="hero bg-gray-100">
    <div class="hero__animation flex justify-center">
        <img src="assets/images/hero_vector_dollar.png" alt="Image">
        <img src="assets/images/hero_vector_message.png" alt="Image">
        <img src="assets/images/hero_vector_dollar.png" alt="Image">
        <img src="assets/images/hero_vector_setting.png" alt="Image">
        <img src="assets/images/hero_vector_arrow.png" alt="Image">
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-0 items-center justify-between">
            <div class="col-12 lg:col-6">
                <div class="section__content">
                    <span class="section__content-sub-title headingFour wow fadeInDown" data-wow-duration="0.8s"><img src="assets/images/title_vector.png" alt="vector"> Compare and Choose the Best Review</span>
                    <h1 class="section__content-title text-4xl lg:text-5xl xl:text-6xl font-bold wow fadeInUp" data-wow-duration="0.8s">Find the
                        <span class="word inline-flex">
                            <span data-wow-duration="0.6s" class="letter wow fadeInDown">P</span>
                            <span data-wow-duration="0.6s" data-wow-delay="0.1s" class="letter wow fadeInDown">e</span>
                            <span data-wow-duration="0.6s" data-wow-delay="0.2s" class="letter wow fadeInDown">r</span>
                            <span data-wow-duration="0.6s" data-wow-delay="0.3s" class="letter wow fadeInDown">f</span>
                            <span data-wow-duration="0.6s" data-wow-delay="0.4s" class="letter wow fadeInDown">e</span>
                            <span data-wow-duration="0.6s" data-wow-delay="0.5s" class="letter wow fadeInDown">c</span>
                            <span data-wow-duration="0.6s" data-wow-delay="0.6s" class="letter wow fadeInDown">t</span>
                        </span>
                        for Your Needs
                    </h1>
                    <p class="section__content-text wow fadeInDown" data-wow-duration="0.8s">Welcome to Moenn, your trusted resource for financial reviews and comparisons .</p>
                    <div class="flex flex-col lg:flex-row gap-4 mt-8 lg:mt-10 wow fadeInUp" data-wow-duration="0.8s">
                        <a  aria-current="page" [routerLink]="['/home']" routerLinkActive="iconActive" class="btn_theme btn_theme_active">Reviews<i class="bi bi-arrow-up-right"></i><span></span></a>
                        <a  aria-current="page" [routerLink]="['/home']" routerLinkActive="iconActive" class="btn_theme">About us<i class="bi bi-arrow-up-right"></i><span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-5">
                <div class="hero__thumb wow fadeInUp" data-wow-duration="0.8s">
                    <img src="assets/images/hero_img.png" alt="Image" class="w-full">
                </div>
            </div>
        </div>
    </div>
</section>
